:root{
    /* colors */
    --bg-color: #fff;
    --text-color: #2F281E;
    --primary-text-color: #544837;
    --link-color: #173A56;
    --button-color: #FF9900;
    /* sizes */
    --max-width: 1400px;
    --font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size);
    width : 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}