:root{
    /* colors */
    --bg-color: #fff;
    --text-color: #2F281E;
    --primary-text-color: #544837;
    --decoretion-color: #173A56;
    --button-color: #FF9900;
    --shadow-color: #BCD0E5;
    /* sizes */
    --max-width: 1400px;
    --font-size: 18px;
    --header-height : 80px;
    --main-space: 10px;
    --gap: 40px;
    --icon-size : 40px;

    /* animations */
    --transition : .3s ease-in-out;
    --radius : 4px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    background-color: inherit;
    color: var(--decoretion-color);
    font-size: 16px;
    font-weight: bold;
    padding: var(--main-space);
    border-radius: var(--radius);
    border: none;
    box-shadow: 0 0 2px 1px var(--shadow-color);
    cursor: pointer;
    transition: var(--transition);
    white-space: nowrap;
}
button:hover{
    background-color: var(--button-color);
    color: var(--bg-color);
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size);
    width : 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}
/* header */
.header{
    max-width: var(--max-width);
    min-height: var(--header-height);
    padding: var(--main-space);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}
.header>figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.header>figure>img{
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: contain;
    object-position: center;
}
.header>figure>figcaption{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: var(--decoretion-color);
    margin-left: 10px;
}
.header>nav{
    margin-left: auto;
}
.header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}
.header>nav>ul>li>a{
    font-size: 14px;
    line-height: 28px;
    color: var(--text-color);
    padding: 0 var(--main-space);
    transition: var(--transition);
}
.header>nav>ul>li>a:hover{
    color: var(--button-color);
}
header>.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--main-space);
}

/* content */

.content{
    max-width: var(--max-width);
    padding: var(--main-space);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.banner{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}
.banner>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap);
}
.banner>article>h2{
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: var(--text-color);
    max-width: 500px;
}
.banner>article>p{
    font-size: 18px;
    line-height: 28px;
    color: var(--primary-text-color);
    max-width: 400px;
}
.banner>article>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    margin-top: 10px;
}
.banner>article>div>a{
    position: relative;
    color: var(--button-color);
    font-size: 16px;
    font-weight: bold;
    padding: var(--main-space);
    cursor: pointer;
    transition: var(--transition);
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner>article>div>a>img{
    position: relative;
    transition: var(--transition);
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
    left :  -10px;
}

.banner>article>div>a:hover > img{
    left : calc(100% + 10px);
}
